<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota 2 Meta 2026</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">

    <div class="overlay"></div>

    <div class="content">
        <h1>DOTA 2 META 2026</h1>

        <p>
            Дізнайтесь, які герої домінують у поточному патчі,
            кого варто пікати для підняття MMR та які персонажі
            зараз знаходяться на вершині мети.
        </p>

        <a href="/characters" class="meta-btn">
            🔥 Дивитися мету
        </a>
    </div>

</div>

</body>
</html>