<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Heroes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="meta-page">

    <h1>🔥 META ГЕРОЇ</h1>

    <div class="meta-card">
        <pre>{{ text }}</pre>
    </div>

    <a href="/" class="back-btn">
        ← Назад
    </a>

</div>

</body>
</html>