<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Heroes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">

    <h1>⚔️ HEROES POSITIONS</h1>

    <div class="grid">

        <a class="pos-btn" href="/heroes_pos1">Pos 1 (Carry)</a>
        <a class="pos-btn" href="/heroes_pos2">Pos 2 (Mid)</a>
        <a class="pos-btn" href="/heroes_pos3">Pos 3 (Offlane)</a>
        <a class="pos-btn" href="/heroes_pos4">Pos 4 (Support)</a>
        <a class="pos-btn" href="/heroes_pos5">Pos 5 (Hard Support)</a>

    </div>

    <a href="/" class="btn back">← Back</a>

</div>

</body>
</html>