<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Dota 2 Meta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">

    <div class="overlay"></div>

    <div class="content">

        <h1>DOTA 2 META 2026</h1>

        <p>Дізнайтесь найсильніших героїв та актуальні патчі Dota 2.</p>

        <div class="buttons">

            <a href="/characters" class="btn red">🔥 Мета герої</a>

            <a href="/patch741d" class="btn blue">⚔️ Патч 7.41d</a>

            <a href="/heroes" class="btn green">🎮 Heroes</a>

        </div>

    </div>

</div>

</body>
</html>